<div class="categorypage__container">
	{{> Header}}
	<div class="categorypage__content">
		<aside class="categorypage__sidemenu__container">{{> SideMenu}}</aside>
		<main>
			<div class="categorypage__collapse_menu__container">{{> CollapseMenu}}</div>
			<div class="categorypage__gallery__container">{{> Gallery}}</div>
			{{> Pagination}}
		</main>
		
	</div>
</div>




