.homepage__container{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	background: #f2f2f2;

}
.homepage__content{
	display: flex;
	width: 100%;
	max-width: 1400px;
	background: #f2f2f2;
}
.categories__container{
	display: flex;
	width: 100%;
	padding: 20px;
	background: #f2f2f2;
}
.categories__content{
	display: flex;
	width: 100%;
	gap: 10px;
	background: #f2f2f2;
}
.category-card__container{
	padding: 10px;
	background: #fafafa;
	width: min-content;
	border: 1px solid #fafafa;
	cursor: pointer;
}
.category-card__content{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #fafafa;
}
.category__image__container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	padding: 5px;
	background: #fff;
	border: 1px solid #f1f1f1;
	overflow: hidden;
}
.category__image{
	height: 100% !important;
	width: 100% !important;
	height: auto;
	object-fit: scale-down;
	object-position: center;
}
.category__title{
	font-size: 16px;
	font-weight: 500;
	color: #440099;
	background: #fafafa;
	margin-top: 5px;
}