*{
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	background: none;
	box-sizing: border-box;
}


h3{
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
}
a{
	text-decoration: none;
}

